---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author1}}</p>
      <p>{{site.about-author2}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 >Pour les projets N°5 & 8</h3>
      <h3 >Je vote avant le 21 mai ! Par ici :</h3>
      <h3 ><a href="{{site.vote-url}}" target="_blank"><img src="{{site.baseurl}}/assets/img/vote.png" alt="Lien Vote" width="100"></a></h3>
      <h3 ><a href="{{site.vote-url}}" target="_blank">Lien vers la page de vote</a></h3>
    <!--   <ul> -->
    <!--     {% if site.social-twitter %} -->
    <!--       <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
    <!--     {% else %} -->
    <!--       <li><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
    <!--     {% endif %} -->
    <!--     {% if site.social-facebook %} -->
    <!--       <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
    <!--     {% else %} -->
    <!--       <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
    <!--     {% endif %} -->
    <!--     {% if site.social-github %} -->
    <!--       <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li> -->
    <!--     {% else %} -->
    <!--       <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
    <!--     {% endif %} -->
    <!--     {% if site.social-linkedin %} -->
    <!--       <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
    <!--     {% else %} -->
    <!--       <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
    <!--     {% endif %} -->
    <!--     {% if site.social-email %} -->
    <!--       <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li> -->
    <!--     {% else %} -->
    <!--       <li class="email"><a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li> -->
    <!--     {% endif %} -->
    <!--   </ul> -->
      </section> <!-- End Section Contact -->
      <!-- <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/affiche.jpg" alt="Affiche"></a> -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
